.money-adjuster {
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
    margin: 1rem 0.5rem;
    
    &__profile-pic {
        background-color: grey;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin: 0.5rem 0.5rem 0 0;
    }

    &__range {
        flex-grow: 1;
        padding: 0.3rem;
    }

    &__range-details {
        display: flex;
        flex-direction: row;
    }

    &__range-name {
       flex-grow: 1; 
       text-align: left;
       font-size: 1.1rem;
       font-weight: 600;
    }

    &__range-input {
        width: 100%;
        margin-top: 0.7rem;
    }

    &__range-price {
        font-size: 1.1rem;
        font-weight: 600;
    }
}
